body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    background: #000;
    color: #EFD6D2;
  }
  
  nav {
    position: relative;
    height: 50px;
  }
  nav a {
    position: relative;
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    color: #EFD6D2;
  }
  nav a:after {
    content: "";
    height: 3px;
    width: 0;
    background: #EFD6D2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: 0.5s all ease;
    position: absolute;
    z-index: 1;
  }
  nav a:hover {
    transition: all 0.3s ease;
  }
  nav a:hover:after {
    width: 100%;
  }
  nav .slide {
    position: absolute;
    height: 110%;
    bottom: 10%;
    z-index: -1;
    transition: all 0.5s ease 0s;
    border-radius: 25px;
    background: #ffffff1f;
  }
  
  nav .slide,
  a:nth-child(1):hover ~ .slide {
    width: 150px;
    left: 0;
  }
  
  a:nth-child(2):hover ~ .slide {
    width: 185px;
    left: 170px;
  }
  
  a:nth-child(3):hover ~ .slide {
    width: 95px;
    left: 380px;
  }
  


#thisitem {
  color: blue;
  animation: spin1 4s linear infinite;
}



@keyframes spin1 { 
  100% { 
    transform:rotate(180deg);
  }
}
