$first-child-width: 124px;
$second-child-width: 136px;
$third-child-width: 153px;

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  background: #000;
}
nav{
  position: relative;
  height: 50px;
  a{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    &:after{
      content: "";
      height: 3px;
      width: 0;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      transition: 0.5s all ease;
      position: absolute;
      z-index: 1;
    }
    &:hover{
      transition: all .3s ease;
      &:after{
        width: 100%;
      }
    }
  }
  .slide{
    position: absolute;
    height: 110%;
    bottom: 10%;
    z-index: -1;
    transition: all 0.5s ease 0s;
    border-radius: 25px;
    background: #ffffff1f;
  }
}

@mixin replace-slide($width, $offset) {
  width: $width; 
	left: $offset;
}

nav .slide,a:nth-child(1):hover~.slide{ 
  @include replace-slide(
    $first-child-width, 
    0
  );
}

a:nth-child(2):hover~.slide{ 
  @include replace-slide(
    $second-child-width, 
    $first-child-width
  );
}

a:nth-child(3):hover~.slide{ 
  @include replace-slide(
    $third-child-width, 
    $second-child-width + $first-child-width
  );
}
