body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #6F1B4F;
    color: #EFD6D2;
}

.volver {
  position: absolute;
  top: 0px;
  right: 0px;
  color: antiquewhite;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  transition: transform 1000ms;
}
.volver:hover,
.button:focus-visible {
  animation-name: ejemplo;
  animation-duration: 0.5s;
  color: black;
  background-color: #EFD6D2;
  border-radius: 5%;
  transform: translateY(0.3rem);
  transition: transform 250ms;


  
}
@keyframes ejemplo {
  from {
    background-color: #6F1B4F;
    color: antiquewhite;

  }
  to {
    background-color: #EFD6D2;
    color: black;
  }
  
}


.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #EFD6D2;
    margin: auto;
    border: solid 5px black;
    width: min-content;
    height: 780px; 
}

.part {
    margin: 10px;
    height: 15em;
}

  #parte1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    clip-path: polygon(0 0, 33% 0, 33% 33%, 0 33%);
  }
  
  #parte2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    clip-path: polygon(33% 0, 66% 0, 66% 33%, 33% 33%);
  }
  
  #parte3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    clip-path: polygon(70% 0, 100% 0, 100% 33%, 33% 33%);
  }
  
  #parte4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    clip-path: polygon(0 33%, 33% 33%, 33% 66%, 0 66%);
  }
  
  #parte5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    opacity: 0;
  }  
  
  #parte6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    clip-path: polygon(66% 33%, 100% 33%, 100% 66%, 66% 66%);
  }
  
  #parte7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    clip-path: polygon(0 66%, 33% 66%, 33% 100%, 0 100%);
  }
  
  #parte8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    clip-path: polygon(33% 66%, 66% 66%, 66% 100%, 33% 100%);
  }
  
  #parte9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    clip-path: polygon(66% 66%, 100% 66%, 100% 100%, 66% 100%);
  }
