body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #6F1B4F;
    color: #EFD6D2;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #EFD6D2;
    text-align: center;
    margin: auto;
    width: min-content;
    height:60vmin ;
}

.part {
    background-image: url(SlidePuzzleNBG.png);
    background-size: contain;
    background-position: left top;
    border: 5px solid black;
    margin: 10px;
    height: 10vw;
}

  #parte1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    left: -0px;
    clip: rect(0px, 800px, 800px, 0px);
  }
  
  #parte2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  #parte3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  #parte4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  #parte6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  
  #parte7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  #parte8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  #parte9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
