/*
--black: #000000ff;
--tyrian-purple: #6f1b4fff;
--eggplant: #6e4159ff;
--hollywood-cerise: #de369dff;
--misty-rose: #efd6d2ff;
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  text-align: center;
  color: #EFD6D2;
  background: black;
  font-family: Copperplate, Papyrus, fantasy;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: #EFD6D2;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
/* Cambio de color #1 */
.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}
/* Cambio de color #2 */
.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}
/* Cambio de color #3 */
.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}
/* Cambio de color #4 */
.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}
/* Cambio de color #5 */
.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}